/* * {
  color: hsl(262, 100%, 99%);
  color: hsl(262, 100%, 98%);
  color: hsl(262, 100%, 93%);
  color: hsl(263, 98%, 83%);
  color: hsl(265, 95%, 74%);
  color: hsl(264, 80%, 65%);
  color: hsl(265, 48%, 9%);
} */

.App {
  background-color: hsl(262, 100%, 99%);
}

.homepage-link {
  color: hsl(265, 90%, 74%);
}

.introduction-heading,
.introduction-subheading {
  color: hsl(262, 100%, 93%);
  color: hsl(265, 48%, 9%);
}

/* .projects-links-div {
  background-color: hsl(263, 98%, 83%);
} */

/* .blog-posts-div {
    background-color: hsl(262, 100%, 93%);
} */
/* ---------------------------------------------------------------------------------------------------- */
/* Project Preview Card */
/* ---------------------------------------------------------------------------------------------------- */
.project-preview {
  border: 3px solid hsl(265, 48%, 9%);
  background-color: hsl(265, 48%, 9%);
}

.project-preview-title,
.project-preview-technology {
  color: hsl(262, 100%, 99%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Video */
/* ---------------------------------------------------------------------------------------------------- */

.project-video {
  border-top: 12px solid hsl(265, 48%, 9%);
  border-bottom: 12px solid hsl(265, 48%, 9%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Headings */
/* ---------------------------------------------------------------------------------------------------- */

.project-goal h2,
.project-challenges h2,
.project-blog-posts-section h2,
.developer-notes h2,
.future-plans h2 {
  color: hsl(265, 48%, 9%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Links */
/* ---------------------------------------------------------------------------------------------------- */
.blog-post-link a {
  color: hsl(265, 48%, 9%)
}

.blog-link,
.project-blog-post-link,
.project-external-link {
  color: hsl(264, 80%, 65%);
}

.blog-post-link a:hover,
.blog-link:hover,
.project-blog-post-link:hover,
.project-external-link:hover {
  color: hsl(264, 80%, 65%);
  border-bottom: 2px solid hsl(264, 80%, 65%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Prev Next */
/* ---------------------------------------------------------------------------------------------------- */
.prev,
.next {
  color: hsl(265, 95%, 74%);
}

.prev:hover,
.next:hover {
  border-bottom: 2px solid hsl(265, 95%, 74%);
}
