.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  margin: 0 auto;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content";
}

.content {
  grid-area: content;
  display: grid;
}

footer {
  grid-area: footer;
  align-self: end;
  padding: 8px 24px;
  font-size: 10px;
}

@media (min-width: 480px) { 
  .App {
    grid-template-columns: 1fr minmax(auto, 600px) 1fr;
    grid-template-areas:
      "left header right"
      "left main right"
      "left footer right";
    margin: 0;
  }
}